<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to rpasswrd!</h1>
    <p>
      You have successfully signed up to rpasswrd,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      Please validate your account by following <a href='<%= @url %>'>this link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>