<h1>Listing codes</h1>

<table class='table table-hover table-striped table-bordered'>
  <thead>
  <tr>
    <th>Code</th>
    <th></th>
  </tr>
  </thead>
          <tbody>
<% @codes.each do |code| %>
  <tr>
    <td><%= code.code %></td>
    <td>
      <%= link_to 'Show', code, :class => 'btn' %>
      <%= link_to 'Edit', edit_code_path(code), :class=>'btn' %>
      <%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %>
    </td>
  </tr>
<% end %>
          </tbody>
</table>

<br />


