<!DOCTYPE html>
<html>
<head>
  <title>Rpasswrd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container-fluid'>

  <%if @current_user%>
    <p>
      <a href='/logout'>Logout</a>
    </p>
  <%else%>
    <p>
      <a href='/signup'>Signup</a>
    </p>
  <%end%>

<%= yield %>
</div>
</body>
</html>
